.dropdown-content {
  position: static;
}

.primary-overlay {
  background: rgba(112, 81, 176, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(../img/cover1.png);
  background-size: cover;
  background-position: center;
  min-height: 660px;
  color: #fff;
}

.main-header .showcase {
  padding-top: 100px;
}

.main-header-inner {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: #fff;
}

.main-header-inner .showcase {
  padding-top: 50px;
}

.active-link {
  color: #ff5722;
  font-weight: bold;
  text-decoration: underline;
}

.section-developers {
  position: relative;
  background: url(../img/code.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-podcast {
  position: relative;
  background: url(../img/circuit.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-podcast a {
  margin-top: 30px;
}

.section-podcast .primary-overlay {
  background: rgba(112, 81, 176, 0.9);
}

.carousel-item p {
  font-size: 20px !important;
}

.tabs .indicator {
  background-color: #6a1b9a !important;
}

.btn-extend {
  display: block;
  width: 100%;
}

@media (max-width: 500px) {
  .section-developers,
  .section-podcast {
    min-height: 240px;
  }
}

.logo-img {
  width: auto;
  height: 60px;
}

.new-arrival {
  top: 5px;
  right: 5px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.card-image {
  cursor: pointer;
}

.x {
  padding-right: 5px;
}

.test::after {
  content: '';
  background-image: url('https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/45488912_252451562098471_2981383455830441984_n.jpg?_nc_cat=101&_nc_ht=scontent.fbkk12-1.fna&oh=8be0962e6d81a2d2877624a7abbff26f&oe=5CA1645F');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.test:hover::after {
  background-image: url('https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.0-9/45662321_252451568765137_4071674901218459648_n.jpg?_nc_cat=110&_nc_ht=scontent.fbkk12-3.fna&oh=f46a4a1ad7e7dc0167b137f7c1bceb74&oe=5CA5C3D1');
}

.test1::after {
  content: '';
  background-image: url('https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/41447978_236337940376500_1350133801405120512_n.jpg?_nc_cat=103&_nc_ht=scontent.fbkk8-2.fna&oh=ec8fadbf12a9d2f831a172a2cddfdfdc&oe=5CB16BB1');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.test1:hover::after {
  background-image: url('https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.0-9/41517430_236337947043166_8211954234178928640_n.jpg?_nc_cat=108&_nc_ht=scontent.fbkk13-1.fna&oh=03fc4709d03f6acca3619b60d96b6ce9&oe=5C6A10BC');
}

.test2::after {
  content: '';
  background-image: url('https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.0-9/40826297_234406143903013_6733415230044372992_n.jpg?_nc_cat=108&_nc_ht=scontent.fbkk13-1.fna&oh=94306eb7f52554576d2b6614be16224b&oe=5CA742D4');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.test2:hover::after {
  background-image: url('https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.0-9/41375553_236339207043040_9061602256859693056_n.jpg?_nc_cat=110&_nc_ht=scontent.fbkk12-3.fna&oh=9a0fc4aae322e59704b63582817efd48&oe=5CAA67C2');
}

.test3::after {
  content: '';
  background-image: url('https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/41325035_236335343710093_2051583101364076544_n.jpg?_nc_cat=103&_nc_ht=scontent.fbkk8-2.fna&oh=a09a560646da5c97dc1ebdbf6b1b9c0d&oe=5CA038AF');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.test3:hover::after {
  background-image: url('https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/41408197_236335340376760_3187556029365747712_n.jpg?_nc_cat=103&_nc_ht=scontent.fbkk8-2.fna&oh=70f597a74d42cd1f0a693bfcffe5b61c&oe=5CA30FAD');
}

.test4::after {
  content: '';
  background-image: url('https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/40659331_234405997236361_757126301046800384_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk8-2.fna&oh=86f3e8cb6b6b7229826473c222effaef&oe=5C6B1FD4');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.test4:hover::after {
  background-image: url('https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/40618931_234406013903026_3926533890268725248_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk8-2.fna&oh=fd0c081e48f6b722de49ea5881cae7fc&oe=5CAC13C3');
}

.test5::after {
  content: '';
  background-image: url('https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/45556265_252453422098285_1542663922425790464_n.jpg?_nc_cat=101&_nc_ht=scontent.fbkk12-1.fna&oh=e892489dd7e87a9315159619fd34f848&oe=5C6B38F5');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.test5:hover::after {
  background-image: url('https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/45556265_252453422098285_1542663922425790464_n.jpg?_nc_cat=101&_nc_ht=scontent.fbkk12-1.fna&oh=e892489dd7e87a9315159619fd34f848&oe=5C6B38F5');
}

.side-nav .user-view .circle,
.side-nav .userView .circle {
  height: 64px;
  width: 64px;
}

.side-nav .user-view .background,
.side-nav .userView .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 300px;
  height: 176px;
}

.cursor-pointer {
  cursor: pointer;
}

.img-views-content {
  width: 80px;
  height: 80px;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}

.active-img {
  border: 2px solid #021a40;
}

svg:not(:root) {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 50px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
}
